body {
  text-align: center;
  font-family: Arial;
  color: #33a;
  margin: 0;
  padding: 0;
  font-size: 16;
}

#cabecera {
  background: #33a;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  border-radius: 0px 162px 115px 109px;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 3px solid #000;
  margin: 0 auto;
}

#container h1 {
  font-size: 20px;
}

#post {
  padding: 1em;
}
